//Tags

.post {

  &-title {
    margin-bottom: .5rem;
  }

  &-date {
    margin-bottom: .5rem;
  }

  &-tag {
    margin-bottom: 1rem;
    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: $tag-color;
      text-decoration: none;
      border-radius: 3px;
    }
      
    }
    
    ul {
      padding-left: 0px;
    } 
      
    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
    }
    span {
      float: left;
      padding: 1px 5px;
    }
  }

//Tag Index

.tag-index {
    font-size:.75rem;
    display:inline;
    list-style-type:none;
    text-transform:lowercase
}
.tag-index a {
    display:inline-block;
    margin:1px 4px;
    color:#fff;
    background-color:$tag-color;
    border-radius:3px
}
.tag-index a span {
    float:left;
    padding:.5px 5px
}
.tag-index a .count {
    background-color:#52A6D8;
    border-radius:0 3px 3px 0
}
.tag-index a:hover {
    background-color:$tag-color;
}


//Dans le même ordre d'idée


.post-node .post-date {
    margin-top: 15px;
    margin-bottom: 0;
    padding-bottom: 1px;
}

.post-node .post-title {
    margin-bottom: 1px;
}

.post-node .post-title:hover {
    color: $blue;
//    text-decoration: underline;
    cursor: auto;
}