//Tags

.post {

  &-title {
    margin-bottom: .5rem;
  }

  &-date {
    margin-bottom: .5rem;
  }

  &-tag {
    margin-bottom: 1rem;
    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: $tag-color;
      text-decoration: none;
      border-radius: 3px;
    }
      
    }
    
    ul {
      padding-left: 0px;
    } 
      
    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
    }
    span {
      float: left;
      padding: 1px 5px;
    }
  }

//Tag Index

.tag-index {
    font-size:.75rem;
    display:inline;
    list-style-type:none;
    text-transform:lowercase
}
.tag-index a {
    display:inline-block;
    margin:1px 4px;
    color:#fff;
    background-color:$tag-color;
    border-radius:3px
}
.tag-index a span {
    float:left;
    padding:.5px 5px
}
.tag-index a .count {
    background-color:#52A6D8;
    border-radius:0 3px 3px 0
}
.tag-index a:hover {
    background-color:$tag-color;
}


//Dans le même ordre d'idée


.module-post .post-date {
    margin-top: 15px;
    margin-bottom: -3px;
    padding-bottom: 0px;
}

.module-post .post-title {
    margin-bottom: 1px;
}

.module-post .post-title:hover {
    color: $blue;
//    text-decoration: underline;
    cursor: auto;
}

//Page des tags

.tag-post {
    list-style-type: none;
}

.tag-title {
    margin-bottom: .5rem;
//    font-weight: 500;
}

//Captions

.caption {
    font-size: .5rem;
    font-style: italic;
    margin: -1rem 0 1rem 0;
    width: 100%;
}

//Images. Les images sur le post "CL et l'Avenir de la Pop en Anglais" sont plus belles comme ça. Check si ça en birse d'autres"

img {
    height: auto;
}


////Blockquotes
//
//blockquote blockquote {
//    border: none;
//    padding: 0px;
////    margin: -20px 0 0 0;
//    margin: -1rem 0 0 0;
//}
//
//blockquote p > a {
//    font-size: .75rem;
//    border: none;
//}

.quotesource {
//    border: none;
//    padding: 0px;
//    margin: -20px 0 0 0;
    margin: -1.5rem 0 0 0;
}

.quotesource p {
    font-size: .75rem;
//    border: none;
}

