.post {

  &-title {
    margin-bottom: 0rem;
  }

  &-date {
    margin-bottom: .5rem;
    color: $base-lighten-color;
    font-size: .75rem;
    text-transform: uppercase;
  }

  &-tag {
    margin-bottom: 1rem;
    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: $base-lighten-color;
      text-decoration: none;
			border-radius: 3px;
    }
    ul {
      padding-left: 0px;
    }    
    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase;
    }
    span {
      float: left;
			padding: .5px 5px;
    }
    }
}